
.footer{
    display: flex;
    width: 100% !important;
    background-color: #222831;
    position: fixed;
    left: 0;
    bottom: 0;
}

.foot-brand, .sub-brand{
    color: #EEEEEE;
    margin-left: 2%;
}

.navbar-brand{
    font-size: 25px !important;
}

.sub-brand{
    font-size: 20px;
}

.contact-area{
    margin-right: 5%;
    padding: auto;
    width: 25%;
}

h5{
    font-size: 100%;
    color: #EEEEEE;
}
