<!-- go_despacho.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Despacho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='b_boleta.css') }}">
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <h1>Orden de Despacho</h1>
        <div class="despacho-container">
            <!-- Aquí se mostrarán las órdenes de despacho obtenidas del endpoint -->
        </div>
    </div>
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='script/go_despacho.js') }}"></script>
</body>
</html>
